

.jumbotron {
    color: white !important;
    opacity: 0.7;
    

}

h1 {
   
    
    text-shadow: 3px 3px black;
    color: white !important;
    padding: 3px;
    
}

.span {
    background: black;
    
}